* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.header {
    height: 15vh;
    text-align: center;
}

.main {
    height: 100vh;
    overflow: hidden;
    color: white;
    margin: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/bg_image3.jpg');
}

.level2 {
    background-image: url('../images/bg_image5.jpg');
}

.level3 {
    background-image: url('../images/bg_image6.jpg');
}

.logo {
    margin: 1%;
    width: 15%;
    height: 85%;
}

.logoLevel2 {
    filter: invert(46%);
}

.statsContainer {
    position: relative;
    height: 10vh;
    border: 1px solid black;
    background-color: black;
    text-align: center;
    margin: auto;
}

.statsContainerLevel2 {
    background-color: #757575;
    color: #e1e5dd;
    border: 1px solid #e1e5dd;
}

.statsContainerLevel3 {
    background-color: #1c232c;
    color: whitesmoke;
}

.stats {
    display: inline-block;
    font-size: 3.5vmin;
    margin: 2%;
}

.gameContainer {
    width: 80vw;
    margin: auto;
}

.gameContainer.gameContainerLevel3 {
    width: 70vmin;
    height: 70vmin;
}


/***************** Iris Effect *******************/

.iris {
    position: absolute;
    top: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    /* border-radius: 50%; */
    box-sizing: border-box;
    transition: 1s all ease-in;
    text-decoration: none;
    border: 0px solid rgba(0,0,0,1);
}

.iris-activated {
    border: 75vmin solid rgba(0,0,0,.85);
    display: block;
}

.iris-deactivated {
    border: 0vmin solid rgba(0,0,0,.85);
    z-index: -10;
}


/**************** level 1 lose screen *********************/

iframe {
    border-radius: 1%;
    border-style: solid;
    height: 55vmin;
    width: 100vmin;
}

.showScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hideScreen {
    display: none;
}

.gameOver {
    color: white;
    text-align: center;
    font-size: 9vmin;
    padding-bottom: 5%;
    font-weight: normal;
}

.winner-text {
    text-align: center;
    font-size: 9vmin;
}

.playAgain {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 5vmin;
    display: block;
    margin: 5% auto;
    border-radius: 5%;
    padding: 2%;
}

.playAgain:hover {
    cursor: pointer;
    background-color: #4a4747;
}


/***************** media queries *******************/

@media only screen
  and (max-width: 450px)
  and (orientation: portrait){
    .gameContainer {
        width: 100vw;
    }

    .logo {
        width: 30%;
    }
}

@media only screen
  and (max-height: 414px)
  and (max-width: 768px) {
      .gameContainer {
          position: absolute;
          left: 0;
          top: 15vh;
      }

      .statsContainer {
          position: absolute;
          height: 60vh;
          width: 15vw;
          right: -15vw;
          top: 10vh;
      }

      .stats {
          font-size: 4vmin;
          margin: 20%;
      }

      .gameContainerLevel3 {
          left: 30vw;
          top: 20vh;
      }


      .statsContainerLevel3 {
          right: -20vw;
          top: 5vh;
      }

  }

  @media only screen
    and (min-width: 769px)
    and (max-width: 812px)
    and (orientation: landscape) {

        .statsContainerLevel3 {
            right: 0;
            top: 0;
            width: 32vw;
        }

    }


    @media only screen and (max-width: 1000px){
        .header {
            margin-bottom: 7vh;
        }
    }

  @media only screen and (min-width: 1200px) {
      .gameContainer {
          width: 60vw;
      }

      .header {
          margin-bottom: 1.25vh;
      }
  }
