
.row {
    width: 100%;
    margin-bottom: 1%;
    text-align: center;
}

.card {
    width: 15.6%;
    max-width: 11vmax;
    display: inline-block;
    margin-right: 1%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all .5s ease-in-out;
}

.back:hover {
    cursor: pointer;
}

.front, .back {
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 13px;
}

.back {
    position: absolute;
    height: 100%;
}

.front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.front img {
    width: 100%;
    margin: auto;
    height: auto;
}

.back img {
    width: 100%;
    height: 100%;
    margin: auto;
}

/***************** media queries *******************/

@media only screen
  and (min-width: 360px)
  and (max-width: 768px)
  and (orientation: portrait){
    .card {
        width: 19%;
    }

    .front, .back {
        border-radius: 5px;
    }

}

@media only screen
  and (min-width: 360px)
  and (max-width: 768px)
  and (orientation: landscape) {
      .card {
          width: 19%;
      }

      .front, .back {
          border-radius: 5px;
      }

}
